.entry-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.render-text {}

.entry-point {
    height: 90vh;
    padding: 20px;
    background-color: #b1c8f5;
}

.add-padding {
    padding: 10px;
}